<div class="container-fluid">


    <h2>Product Details</h2>
    <dl>
        <dt>name</dt>
        <dd>{{product.name}}</dd>
        <dt><button class="btn btn-primary" (click)="PreviewClick()">{{btnText}}</button></dt>
        <dd>
            <div *ngIf="togglepreview; then preview; else description"> </div>
            <ng-template #preview>
                <img [src]="product.image" height="200" width="200">
            </ng-template>
            <ng-template #description>
                <p>{{product.description}}</p>
            </ng-template>
        </dd>
    </dl>
</div>